"artifacts/prepare_base_model/base_model_updated.h5"  "artifacts/prepare_base_model/base_model.h5"  "artifacts/training/model.h5"  "artifacts/data_ingestion/Kidney_Data.zip" 
"artifacts/prepare_base_model/base_model_updated.h5" 
"artifacts/prepare_base_model/base_model.h5" 
"artifacts/training/model.h5" 
"artifacts/data_ingestion/Kidney_Data.zip" 
